# Best to make sure you have torch installed first, in particular before installing xformers.
# Don't run this if you already have PyTorch installed.
# pip install 'torch==2.0'

# python3.9 mandatory
torch==2.0.0 
torchvision==0.15.1 
torchaudio==2.0.1
xformers==0.0.20
audiocraft
flask